@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v18-cyrillic_latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-cyrillic_latin-700.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  color: #000;
}
img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
button, input, a {
  cursor: pointer;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1196px;
  padding: 0 25px;
  margin: 0 auto;
}
.header {
  padding: 34px 0 15px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.logo__name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}
.controls {
  color: inherit;
  text-decoration: none;
  transition: .3s;
  outline: none;
}
.controls:hover {
  color: #ff4949;
}
.burger {
  display: none;
  align-self: flex-start;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ff4949;
  height: 50px;
}
.search__input {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  padding: 14px 30px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  outline: none;
  font: inherit;
}
.search__input::placeholder {
  color: #878787;
}
.search__btn {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 20px;
  border: none;
  background-color: transparent;
  outline: none;
  font: inherit;
}
.search__btn-img {
  flex-shrink: 0;
}
.search__btn-text {
  color: #fff;
}

.content {
  padding: 40px 0 94px;
}
.content__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content-wrapper {
  flex-grow: 1;
}
.content-wrapper__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.card {
  width: calc((100% - 60px) / 3);
}
.card__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card__poster {
  max-height: 376px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.card__title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
}
.card__title span {
  font-weight: 700;
}
.card__style {
  color: #868686;
  font-size: 16px;
}
.card__rating {
  color: #04a31e;
  font-size: 16px;
  font-weight: 700;
}

.selections-wrapper {
  width: 262px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.selections-wrapper__title {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.selections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.selection__link {
  display: block;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  transition: .3s;
  outline: none;
  margin-bottom: 5px;
}
.selection__link:hover {
  color: #ff4949;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #aaaaaa;
}
.footer__link {
  width: fit-content;
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #aaaaaa;
  transition: .3s;
  outline: none;
}
.footer__link:hover {
  color: #ff4949;
  border-bottom-color: #ff4949;
}

.film {
  display: flex;
  align-items: start;
  gap: 28px;
}
.film__poster {
  width: calc((100% - 28px) / 2);
  height: auto;
  object-fit: contain;
}
.film__content {
  width: calc((100% - 28px) / 2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.film__title {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 400;
}
.film__title span {
  font-weight: 700;
}
.film__style {
  margin-bottom: 2px;
  color: #868686;
  font-size: 16px;
}
.film__rating {
  color: #04a31e;
  font-size: 16px;
  font-weight: 700;
}
.film__description {
  flex-grow: 1;
}
.film__description-text:not(:last-child) {
  margin-bottom: 10px;
}
.film__btn {
  width: 264px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ff4949;
  transition: .3s;
  outline: none;
}
.film__btn:hover {
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

@media (max-width: 991px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 26px 0;
  }
  .controls {
    display: none;
  }
  .burger {
    display: block;
  }
  .search__input {
    padding: 14px 16px;
  }
  .search__btn {
    padding: 0 15px;
  }
  .search__btn-text {
    display: none;
  }
  .content__container {
    flex-direction: column;
  }
  .selections-wrapper {
    width: 100%;
  }
  .selections {
    margin-bottom: 120px;
  }
}

@media (max-width: 610px) {
  .content-wrapper_film {
    margin-bottom: 30px;
  }
  .film {
    flex-direction: column;
  }
  .film__poster,
  .film__content {
    width: 100%;
  }
  .film__title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .film__style {
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}